.blink {
  animation: blink-animation 0.6s;
  -webkit-animation: blink-animation 0.6s;
}
@keyframes blink-animation {
  from {
    transform: translate3d(-100vw,0,0);
  }
  to {
    transform: translate3d(0,0,0);
  }
}
@-webkit-keyframes blink-animation {
  from {
    transform: translate3d(-100vw,0,0);
  }
  to {
    transform: translate3d(0,0,0);
  }
}
